body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
/*           ----------
header
 ---------------------- */ 
 .header{
     margin-left: 200px;
     padding: 20px;
 }
 /*----------------- 
 Influencer
 ----------------- */
.influencer{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    margin-left: 200px;
    
}
.influencer-history{
    margin-top: 20px;
    width: 600px;
    padding: 20px;
}
.influencer-history h1{
    font-style: 700px;
    font-size: 50px;
    margin-bottom: 0;
}
.influencer-history p{
    margin-top: 0;
}
.button{
    background-color:#d8082b;
    color: white;
    height: 30px;
    width: 140px;
    border-radius: 40px;
    text-align: center;
    
}
.button a{
    color: white;
    margin-left: 5px;
    padding:10px;
}
.influencer-img img{
    height: 350px;
    background-color: #CAD5E2;   
    padding: 20px;
    border-radius: 70%;
}
/*------------------------------
 logo
 ------------------------------- */
 .hr{
     margin-top: 30px;
 }
.logo{
    width: 80%;
    display: inline-grid;
    grid-template-columns: repeat(7,1fr);
    padding: 0 10px;
    margin-left: 10%;   
   
}
.logo-img{
    height: 30px;
    width: 40px;
    padding: 10px;    
}
/* ------------------------------
Collection-products 
--------------------------------*/
.container{
    width: 1100px;
    margin-left: 10%;
    /* background-color: #d8082b;     */
   
}
.collection{
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3,1fr);    
    padding: 30px;     
        
}
.product{
    /* background-color: wheat; */
    width: 300px;
    height: 500px;
    margin: 5px;
    padding: 20px;
    box-shadow: 5px 5px 5px 5px #CAD5E2;

}
.product-img img{
    border-radius: 15px;
}
.produts-details h3{
    font-size: 25px;
}
.proct-rating{
    margin: 0;
}
.fa-star{
    color: rgb(255, 166, 0);

}
.fa-star-half-alt{
    color: rgb(255, 166, 0);
}
.produt-more{
    text-decoration: none;
    color: #d8082b;
    font-size: 20px;
    margin-left: 950px;
    font-style: 700px;
}

/*---------------------------
 Footer 
 -----------------------------*/
 footer{
     background-color: #120E43;
     text-align: center;
     outline: 0;
     margin-top: 20px;
     width: 100%;
 }
 .footer-start{
     display: inline-block;
 }
 .footer-start>h1{
     margin-bottom: 0;
     
     padding-top: 20px;
 }
 .font-color{
     color: whitesmoke;
 }
 .font-color >a{
    color: whitesmoke;
    padding: 5px;
    font-size: 25px;
 }
 /*****************************
  Hover item 
  ******************************/
  influencer-img>img:hover{
      width: 400px;
  }

  /*-----------------
 Media Queries
 ------------------- */

/* Mobile Devices */
@media only screen and (max-width:688px){
    .container{
        width: 70%;
    }
    header{
      text-align: center;
        padding: 0;
        font-size: 25px;
    }
   /*     influencer */
    .influencer{
        margin-left: 10px;
        display: grid;
        grid-template-columns: repeat(1,1fr);       
        padding: 0 20%;
    }
    .influencer-history{
        width: 70%;
        margin-top: 0;
    }
    /*                 Logo          */
    .logo{
        display: grid;
        grid-template-columns: repeat(3 ,1fr);
    }   
    #hide{
        display: none;        
    }
    /* Populer collection */
    .collection{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        
    }
    .produt-more{
        margin-left: 60%;
    }
    footer{
        width: 100%;
        height: 270px;
        background-color: rgb(8, 13, 39);
    }
    
}